<app-navbar></app-navbar>

<div class="row w-100 m-0">

  <div class="col card shadow ms-5 p-0 rounded-l">
    <h4 class="card-header p-3"><i class="bi bi-person-circle"></i> Change basic user data</h4>
    <div class="p-2">
      <form #changeUserDataForm="ngForm" (ngSubmit)="changeUserData(changeUserDataForm) ">
        <div class="form-group">
          <label for="name">First name</label>
          <input type="text" class="form-control" id="name" name="name" ngModel="{{userData.name}}">
        </div>
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" id="lastname" name="lastName" ngModel="{{userData.lastName}}">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" ngModel="{{userData.email}}">
        </div>
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" id="login" name="login" ngModel="{{userData.login}}">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone number</label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" ngModel="{{userData.phoneNumber}}">
        </div>
        <button class="btn btn-lg btn-primary mt-2" type="submit">Save</button>
      </form>
    </div>
  </div>

  <div class="col card shadow ms-5 me-5 p-0">
    <h4 class="card-header p-3"><i class="bi bi-key-fill"></i> Change user password</h4>
    <div class="p-2">
      <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)">
        <div class="form-group">
          <label for="password">New password</label>
          <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">

            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="passRep">Repeat new password</label>
          <input type="password" class="form-control" id="passRep" name="passRep" ngModel>
        </div>
        <button class="btn btn-lg btn-primary mt-2" type="submit">Save</button>
      </form>
    </div>
  </div>

  <h4 class="mt-5 p-3 card-header">List of address</h4>
  <div class="col-3 card shadow ms-5 mt-4 mb-5 p-0" *ngFor="let address of userData.addresses">
    <h4 class="card-header p-3"><i class="bi bi-house-fill"></i> Address:</h4>
    <div class="p-2">
      <ul>
        <li>{{address.country}}</li>
        <li>{{address.city}}</li>
        <li>{{address.postalCode}}</li>
        <li>{{address.address}}</li>
      </ul>
      <button class="btn btn-lg btn-primary mt-2" (click)="deleteAddress(address.id)">Delete</button>
    </div>
  </div>

  <div class="col-3 card shadow ms-5 mt-4 mb-5 p-2">
    <div *ngIf="createNewAddress === false; else addressForm">
      <button class="btn btn-lg btn-primary mt-2" (click)="createNewAddressAction()">Add new address</button>
    </div>
    <ng-template #addressForm>
      <form #addAddressForm="ngForm" (submit)="addNewAddress(addAddressForm)">
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" name="country" ngModel>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="city" ngModel>
        </div>
        <div class="form-group">
          <label for="postalcode">Postal code</label>
          <input type="text" class="form-control" id="postalcode" name="postalCode" ngModel>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" name="address" ngModel>
        </div>
        <button class="btn btn-lg btn-primary mt-2" type="submit">Create</button>
      </form>
      <button class="btn btn-lg btn-primary mt-2" (click)="createNewAddressAction()">Cancel</button>
    </ng-template>
  </div>
  <h4 class="mt-5 p-3 card-header">Order history:</h4>
  <div class="mb-4 mt-2 d-flex justify-content-center">
    <ol class="list-group list-group-numbered w-50">
    <li class="list-group-item mb-1 shadow" style="display: flex; font-size: 16px"
        *ngFor="let invoice of invoices; let i = index" [attr.data-index]="i">
      <div class="card-body row">
        <div class="col text-center">
          <p>Invoice id: {{invoice.id}}<br>
          {{invoice.invoiceDate}}</p>
        </div>
        <div class="col text-center justify-content-center mx-auto">
          <p>{{invoice.address.city}}<br>
          {{invoice.address.address}}<br>
          {{invoice.address.postalCode}}</p>
        </div>
        <div class="col text-center justify-content-center">
          <p>Price Gross: {{invoice.totalPriceGross}} $<br>
          Price Net: {{invoice.totalPriceNet}} $</p>
        </div>
      </div>
      <button class="btn" (click)="getInvoicePDF(invoice.id)">View PDF</button>
    </li>
    </ol>

  </div>


</div>

<app-footer></app-footer>
