<app-navbar></app-navbar>
<main class="flex-shrink-0">
  <div class="container">
    <div class="card m-5">
      <p class="m-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus est eros, tempor in congue sodales,
        scelerisque
        et lorem. In fringilla turpis enim, vel tristique felis ultrices ut. Etiam eget libero ac felis ultrices ornare.
        Aenean malesuada eleifend ante, eu rhoncus libero dictum ac. Maecenas nec diam vitae lectus efficitur porttitor
        ut
        et nisi. Ut suscipit fermentum vulputate. Mauris ultricies fringilla mauris, id cursus justo ornare quis.
        Maecenas
        ut augue placerat, tristique purus nec, rutrum nisi. Etiam bibendum a lectus non vehicula. Duis molestie lacus
        non
        ligula malesuada finibus. Integer cursus nulla vel ultricies sagittis. Sed in nisl eget ligula aliquet
        vestibulum
        ut commodo ante. Phasellus pharetra sapien felis, in euismod ipsum egestas a. Donec laoreet blandit lacinia.
      </p>
      <p class="m-2">
        Proin quam odio, pharetra sed sapien vel, commodo porta nisi. Praesent ornare sit amet justo eu finibus. Quisque
        orci dolor, aliquam iaculis libero quis, viverra facilisis dolor. Pellentesque enim diam, iaculis eget
        scelerisque
        id, dignissim id turpis. Nulla ultricies porta accumsan. Aenean mi felis, laoreet id diam vitae, ornare
        malesuada
        leo. Duis condimentum erat diam, eu cursus ipsum laoreet sed. Nulla tincidunt mattis imperdiet. Duis malesuada
        mi
        sem, tincidunt vestibulum sem rhoncus sit amet. Suspendisse euismod tempus feugiat. Nulla convallis felis vel
        nunc
        pellentesque consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Fusce vel sem faucibus, ornare turpis nec, dignissim turpis. Etiam dolor dolor, luctus a fringilla
        fringilla, aliquam vitae sapien.
      </p>
    </div>
  </div>
</main>
<app-footer></app-footer>
