<app-navbar></app-navbar>
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome on eshop!</h1>
        <p class="lead text-muted">We sells best computer products.</p>
        <hr>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h2 class="text-center">
        Best occasions below!
      </h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let product of products">
          <div class="card shadow-sm">
            <img [src]=getSantizeUrl(product.img) height="225" alt="product"/>
            <div class="card-body">
              <p>Name: {{product.name}}</p>
              <p>Category: {{product.category}}</p>
              <p>Sub category: {{product.sub_category}}</p>
              <p>{{product.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mx-auto">
                  <a href="product/{{product.id_product}}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

<app-footer></app-footer>
