<div class="me-sm-2">
  <form #filterForm="ngForm" (submit)="sendFilters(filterForm)">
    <div id="filter" class="p-2 bg-light ms-md-4 ms-sm-2 border mt-5">
      <div class="border-bottom h5 text-uppercase ">Filter By</div>
      <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex align-items-center">Price
          <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#inner-box"
                  aria-expanded="false" aria-controls="inner-box"><h6 class="bi bi-plus show-btn"></h6></button>
        </div>
        <div id="inner-box" class="collapse show">
          <div class="my-1">
            <label class="tick">Less than 200
              <input type="radio" name="price" value="0,200" ngModel>
              <span class="check"></span>
            </label>
          </div>
          <div class="my-1">
            <label class="tick">200-400
              <input type="radio" name="price" value="200,400" ngModel>
              <span class="check"></span>
            </label>
          </div>
          <div class="my-1">
            <label class="tick">400-700
              <input type="radio" name="price" value="400,700" ngModel>
              <span class="check"></span>
            </label>
          </div>
          <div class="my-1">
            <label class="tick">700-1000
              <input type="radio" name="price" value="700,1000" ngModel>
              <span class="check"></span>
            </label>
          </div>
          <div class="my-1">
            <label class="tick">1000 and Above
              <input type="radio" name="price" value="1000,100000" ngModel>
              <span class="check"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex align-items-center">Producer
          <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#property"
                  aria-expanded="false" aria-controls="property">
            <h6 class="bi bi-plus show-btn"></h6>
          </button>
        </div>

        <div id="property" class="collapse show">
          <div class="my-1" *ngFor="let producer of producers">
            <label class="tick"> {{producer}}
              <input type="radio" name="producer" value="{{producer}}" ngModel>
              <span class="check"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary rounded col-2  mt-2 mx-auto" (click)="reloadPage()">Clear</button>
        <button class="btn btn-primary rounded col-2  mt-2" type="submit">Apply</button>
      </div>
    </div>
  </form>
</div>
