<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><i class="bi bi-bag-check display-6"> EShop</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex bg-light input-group w-50 mx-auto rounded">
        <input class="form-control w-25" type="search" placeholder="Search" aria-label="Search">
        <select class="form-select form-select-sm" aria-label="Select category">
          <option value="any" selected>Anywhere</option>
          <option value="Laptops & PCs">Laptops & PCs</option>
          <option value="Smartphones & Readers">Smartphones & Readers</option>
          <option value="Gaming & Streaming">Gaming & Streaming</option>
          <option value="Computer components">Computer components</option>
          <option value="offline equipments">offline equipments</option>
        </select>
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
      </form>
      <a href="/login" class="btn btn-success ms-2">
        Sign in
      </a>
    </div>
  </div>
</nav>

<header class="py-2 mb-2 border-bottom navbar bg-white navbar navbar-expand-md">
  <div class="container-fluid categories">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/category/Laptops & PCs">Laptops & PCs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Smartphones & Readers">Smartphones & Readers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Gaming & Streaming">Gaming & Streaming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Computer components">Computer components</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Off-line equipment">Off-line equipment</a>
      </li>
    </ul>
  </div>
</header>
