<app-navbar></app-navbar>
<main>
  <div class="card me-5 ms-5 rounded">
    <div class="card-header">
      <h1>User list:</h1>
    </div>
    <table class="table table-striped card-body">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Role</th>
        <th scope="col">Account status</th>
        <th scope="col">Change status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userData of usersData; let i = index" [attr.data-index]="i">
        <th scope="row">{{i}}</th>
        <td>{{userData.id}}</td>
        <td>{{userData.email}}</td>
        <td>{{userData.name}}</td>
        <td>{{userData.lastName}}</td>
        <td>{{userData.role}}</td>
        <td *ngIf="userData.enabled">Active</td>
        <td *ngIf="!userData.enabled">Not active</td>
        <td *ngIf="!userData.enabled">
          <button class="btn btn-outline-dark" (click)="changeUserStatus(userData.id, true)"><i class="bi bi-check-lg"></i></button>
        </td>
        <td *ngIf="userData.enabled">
          <button class="btn btn-outline-dark" (click)="changeUserStatus(userData.id, false)"><i class="bi bi-x-lg"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<app-footer></app-footer>
