<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><i class="bi bi-bag-check display-6"> EShop</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex bg-light input-group w-50 mx-auto rounded" #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <input class="form-control w-25" type="search" placeholder="Search" aria-label="Search" id="var" name="var" ngModel>
        <select class="form-select form-select-sm" aria-label="Select category" id="category" name="category" ngModel="any">
          <option value="any">Anywhere</option>
          <option value="Laptops & PCs">Laptops & PCs</option>
          <option value="Smartphones & Readers">Smartphones & Readers</option>
          <option value="Printers & Ink">Printers & Ink</option>
          <option value="Computer components">Computer components</option>
          <option value="Computer Accessories">Computer Accessories</option>
        </select>
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
      </form>

      <div *ngIf="isLogged === false; else logged">
        <a href="/login" class="btn btn-success ms-2">
          Sign in
        </a>
      </div>
      <ng-template #logged>
        <div *ngIf="isAdmin" class="dropdown me-3">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list-ul display-6"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/admin-users-page">User management</a></li>
            <li><a class="dropdown-item" href="/admin-stock-page">Stock</a></li>
            <li><a class="dropdown-item" href="/admin-new-product-page">Add new product</a></li>
          </ul>
        </div>
        <a href="/cart"><i class="bi bi-cart display-6 me-2"></i></a>
        <a href="/user"><i class="bi bi-person-circle display-6 me-2" style="color:white"></i></a>
        <button (click)="logout()" class="btn btn-success ms-2">
          Logout
        </button>
      </ng-template>

    </div>
  </div>
</nav>

<header class="py-2 mb-2 border-bottom navbar bg-white navbar navbar-expand-md">
  <div class="container-fluid categories">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/category/Laptops & PCs">Laptops & PCs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Smartphones & Readers">Smartphones & Readers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Printers & Ink">Printers & Ink</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Computer components">Computer components</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Computer Accessories">Computer Accessories</a>
      </li>
    </ul>
  </div>
</header>
