<app-navbar></app-navbar>
<main>
  <div class="card me-5 ms-5 rounded">
    <div class="card-header">
      <h1>Stock:</h1>
    </div>
    <table class="table table-striped card-body">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col">Amount</th>
        <th scope="col">Last update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stock of stocks; let i = index" [attr.data-index]="i">
          <th scope="row">{{i}}</th>
          <td>{{stock.id}}</td>
          <td><a href="/product/{{stock.product.id}}">{{stock.product.name}}</a></td>
          <td style="width: 20%;">
            <form #amountForm="ngForm" (submit)="updateAmount(stock.id, amountForm)">
            <input type="number" name="amount" id="amount" ngModel="{{stock.amount}}" required class="text-center" style="max-width: 30%">
              <button type="submit" class="btn, btn-outline-primary rounded ms-2">Apply</button>
            </form>
          </td>
          <td>{{stock.updatedDate}}</td>
          <td><button class="btn btn-outline-dark" (click)="deleteStock(stock.id)"><i class="bi bi-x-lg"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<app-footer></app-footer>
