<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="assets/images/logo.png" alt="" width="72" height="57">
      <h2>Sign Up form</h2>
    </div>

    <div class="col-10 mx-auto">
      <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
        <div class="row g-3 mb-5">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="firstName" placeholder="John" name="name" ngModel #name="ngModel" required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">
              <div *ngIf="name.errors?.['required']">
                Name is required.
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="lastName" placeholder="Whick" name="lastName" ngModel #lastname="ngModel" required>
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                 class="alert alert-danger">
              <div *ngIf="lastname.errors?.['required']">
                Lastname is required.
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="login" class="form-label">Login<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="login" placeholder="Login" name="login" ngModel  #login="ngModel" required>
            <div *ngIf="login.invalid && (login.dirty || login.touched)"
                 class="alert alert-danger">

              <div *ngIf="login.errors?.['required']">
                Login is required.
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="password" minlength="4" placeholder="Password" name="password" ngModel #password="ngModel"
                   required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger">

              <div *ngIf="password.errors?.['required']">
                Password is required.
              </div>
              <div *ngIf="password.errors?.['minlength']">
                Password must be at least 4 characters long.
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="passRep" class="form-label">Repeat Password<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="passRep"  minlength="4" placeholder="Password" name="passRep" ngModel #passRep="ngModel" required>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email" ngModel #email="ngModel" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">

              <div *ngIf="email.errors?.['required']">
                Email is required.
              </div>
            </div>
          </div>

        </div>

        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Sign up</button>
      </form>
      <a href="/login" class="w-100 btn btn-lg btn-primary mt-2">Sign in</a>
      <a href="/" class="w-100 btn btn-lg btn-outline-primary mt-2">Home page</a>
      <p class="mt-5 mb-3 text-muted"> Bartosz Średziński &copy; 2022</p>
    </div>

  </main>
</div>
