<app-navbar></app-navbar>
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" [src]=getSanitizeUrl(product.img) height="600" width="700"
             alt="product"/>
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{product.name}}</h1>
        <div class="fs-5 mt-1">Price gross: {{product.priceGross}} zł</div>
        <div class="fs-5 mb-3">Price net: {{product.priceNet}} zł</div>
        <p>Category: {{product.category}}</p>
        <p>Producer: {{product.producerName}}</p>
        <p class="lead">{{product.description}}</p>
        <div *ngIf="stock.amount == 0; else available">
          <u>Product unavailable</u>
        </div>
        <ng-template #available>
          <p>Available amount:  {{stock.amount}}</p>
          <form #productForm="ngForm" (submit)="addToCart(productForm)" class="w-100 align-items-center">
            <div *ngIf="isLogged; else navigateToLogin">
              <input class="form-control text-center mb-2 mx-auto" id="input" type="number"
                     style="max-width: 4rem;" name="amount" ngModel="1"/>
              <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                <i class="bi-cart-fill me-1"></i>Add to cart
              </button>
            </div>
            <ng-template #navigateToLogin>
                <input class="form-control text-center mb-2 mx-auto" id="inputQuantity" type="number"
                       style="max-width: 4rem" name="amount" ngModel="1"/>
                <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="navigateToLoginPage()">
                  <i class="bi-cart-fill me-1"></i>Add to cart
                </button>

            </ng-template>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
